.page-transition-enter {
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .page-transition-enter-active {
    opacity: 1;
  }



  /* styles.css
html, body {
  height: 100%;
  overflow: hidden;
}

@media screen and (orientation: landscape) {
  body {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */




  @keyframes slideIn {
    0% {
      transform: translateY(-7px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-7px);
      opacity: 0;
    }
  }

  @keyframes animateInChatProfile {
    0% {
      transform: translate(-50%, calc(-50% - 120px));
      /* transform: translate(-50%, -50%); */
      opacity: 0;
    }
    100% {
      /* transform: translate(-50%, -50%); */
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  @keyframes animateOutChatProfile {
    0% {
      transform: translate(-50%, -50%);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, calc(-50% - 120px));
      opacity: 0;
    }
  }





@keyframes animateInLowerMenubar {
  0% {
    transform: translate(-50%, 200px);  
  }
  100% {
    transform: translate(-50%, 0px); 
  }
}

@keyframes animateOutLowerMenubar {
  0% {
    transform: translate(-50%, 0px);  
  }
  100% {
    transform: translate(-50%, 200px); 
  }
}


  /* .chatProfileStyle {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    gap: 1rem;
    transform: translate(-50%, -50%);

    animation: animateInChatProfile 1s;
  }

  .navStyle {
    display: flex;


    border-bottom: 1px solid grey; 
    width: 100%;
    height: calc(0.5rem + 80px);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: 'light';
    z-index: 1000;
  } */


  .popup-menu-button:hover {
    color: grey;
  }

  @media (max-width: 700px) {
    .hide-on-small-screen {
      display: none;
    }
  }

  .loop-logo-button {
    mask-image: url(../public/loop_logo_white.png);
    -webkit-mask-image: url(../public/loop_logo_white.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 125px;
    aspect-ratio: 472 / 396;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }
  .loop-logo-button:hover {
    background-color: grey;
  }

  .loop-logo {
    mask-image: url(../public/loop_logo_white.png);
    -webkit-mask-image: url(../public/loop_logo_white.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 125px;
    aspect-ratio: 472 / 396;
    background-color: var(--themeColor);

  }

  .loop-logo-big {
    mask-image: url(../public/loop_logo_white.png);
    -webkit-mask-image: url(../public/loop_logo_white.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 50%;
    max-width: 250px;
    aspect-ratio: 472 / 396;
    background-color: var(--themeColor);

  }

  .check-mark {
    mask-image: url(../public/png_icons/check_white.png);
    -webkit-mask-image: url(../public/png_icons/check_white.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 40px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
  }


  .back-icon {
    mask-image: url(../public/navbar_icons/go_back_button.png);
    -webkit-mask-image: url(../public/navbar_icons/go_back_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 48px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }

  .notification-icon {
    mask-image: url(../public/navbar_icons/notification_bell_button.png);
    -webkit-mask-image: url(../public/navbar_icons/notification_bell_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 48px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }

  .language-icon {
    mask-image: url(../public/navbar_icons/language_button.png);
    -webkit-mask-image: url(../public/navbar_icons/language_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 48px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }

  .moon-icon {
    mask-image: url(../public/navbar_icons/moon_button.png);
    -webkit-mask-image: url(../public/navbar_icons/moon_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 48px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }
  .sun-icon {
    mask-image: url(../public/navbar_icons/sun_button.png);
    -webkit-mask-image: url(../public/navbar_icons/sun_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 48px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }

  .sweden-icon-menu {
    /* mask-image: url(../public/png_icons/sweden_flag.png);
    -webkit-mask-image: url(../public/png_icons/sweden_flag.png);
    mask-size: contain;
    -webkit-mask-size: contain; */

    background-image: url(../public/png_icons/sweden_flag.png);
    background-size: contain;
    background-repeat: no-repeat;

    width: 60px;
    aspect-ratio: 1000 / 1000;
    /* background-color: var(--themeColor); */
    /* transition: ease-out 0.2s; */
  }
  .england-icon-menu {
    /* mask-image: url(../public/png_icons/uk_flag.png);
    -webkit-mask-image: url(../public/png_icons/uk_flag.png);
    mask-size: contain;
    -webkit-mask-size: contain; */
    background-image: url(../public/png_icons/uk_flag.png);
    background-size: contain;
    background-repeat: no-repeat;

    width: 60px;
    aspect-ratio: 1000 / 1000;
    /* background-color: var(--themeColor); */
    /* transition: ease-out 0.2s; */
  }


  .moon-icon-menu {
    mask-image: url(../public/navbar_icons/moon_button.png);
    -webkit-mask-image: url(../public/navbar_icons/moon_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 60px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* transition: ease-out 0.2s; */
  }
  .sun-icon-menu {
    mask-image: url(../public/navbar_icons/sun_button.png);
    -webkit-mask-image: url(../public/navbar_icons/sun_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 60px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* transition: ease-out 0.2s; */
  }


  .log-out-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_log_out_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_log_out_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 75px; */
    aspect-ratio: 1000 / 1000;
    /* background-color: var(--themeColor); */
    background-color: red;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .notification-icon-phone {
    mask-image: url(../public/navbar_icons/notification_bell_button.png);
    -webkit-mask-image: url(../public/navbar_icons/notification_bell_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 75px; */
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
  }

  .profile-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_profile_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_profile_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 75px; */
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
  }

  .settings-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_settings_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_settings_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 75px; */
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
  }

  .plus-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_plus_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_plus_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 75px; */
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
  }

  .friends-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_friends_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_friends_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 75px; */
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
  }







  
  .profile-picture {
    position: relative;
    display: inline-block;
  }
  
  .profile-picture img {
    display: block;
    border-radius: 50%;
  }

  .profile-picture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s ease;
    border-radius: 50%;
    pointer-events: none;
  }
  
  .profile-picture:hover::after {
    opacity: 1;
  }







  .main-loop-icon {
    mask-image: url(../public/menubar_icons/menubar_loop_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_loop_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 110px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }
  .main-loop-icon:hover {
    background-color: grey;
  }

  .plus-icon {
    mask-image: url(../public/menubar_icons/menubar_plus_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_plus_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 82px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }
  .plus-icon:hover {
    background-color: grey;
  }

  .friends-icon {
    mask-image: url(../public/menubar_icons/menubar_friends_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_friends_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 82px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }
  .friends-icon:hover {
    background-color: grey;
  }


  .main-loop-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_loop_icon.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_loop_icon.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 75px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    transition: ease-out 0.2s;
  }

  .back-button-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_back_button.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_back_button.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 60px; */
    width: 75px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* transition: ease-out 0.2s; */
  }


  .hamburger-icon-phone {
    mask-image: url(../public/menubar_icons/menubar_hamburger_menu.png);
    -webkit-mask-image: url(../public/menubar_icons/menubar_hamburger_menu.png);
    mask-size: contain;
    -webkit-mask-size: contain;
    /* width: 60px; */
    width: 75px;
    aspect-ratio: 1000 / 1000;
    background-color: var(--themeColor);
    /* transition: ease-out 0.2s; */
  }



  .loop-background {
  mask-image: url(../public/loop_background.png);
  -webkit-mask-image: url(../public/loop_background.png);
  mask-size: contain;
  -webkit-mask-size: contain;
  width: var(--loopBackgroundWidth);
  /* width: 170px; */
  aspect-ratio: 1000 / 1000;
  background-color: var(--loopColor);
  transition: ease-out 0.2s;
}

.loop-background {
  transition: background-color 0.2s ease-out;
}

.under-loop-text {
  transition: color 0.2s ease-out;
}

.friend-img-large,
.friend-img-medium,
.friend-img-small {
  transition: filter 0.2s ease-out;
}

.loop-wrapper:hover .loop-background {
  background-color: grey;
}

.loop-wrapper:hover .under-loop-text {
  color: grey !important;
  transition: ease-out 0.2s;
}

.loop-wrapper:hover .friend-img-large,
.loop-wrapper:hover .friend-img-medium,
.loop-wrapper:hover .friend-img-small {
  filter: brightness(0.5); /* Gör profilbilderna gråare */
  transition: ease-out 0.2s;
}

.plus-icon-loop {
  
  
  mask-image: url(../public/menubar_icons/menubar_plus_icon.png);
  -webkit-mask-image: url(../public/menubar_icons/menubar_plus_icon.png);
  mask-size: contain;
  -webkit-mask-size: contain;
  width: var(--loopPlusWidth);
  margin-left: var(--loopPlusMargin);
  margin-top: var(--loopPlusMargin);
   
  aspect-ratio: 1000 / 1000;
  background-color: var(--themeColor);
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: contain;
  transition: ease-out 0.2s;

}

.plus-icon-loop:hover {
  background-color: darkgray;
}

/* .containerFriends {
 background-color: black;
} */
.container-friends:hover {
  background-color: darkgrey;
  transition: ease-out 0.2s;
}


  @font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    /* font-display: swap; */
    font-display: auto;
  }

  @font-face {
    font-family: 'Brush-Font';
    src: url('/fonts/Brush-Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;


  }

  
  .dummy-checkmark {
    visibility: hidden;
  }

  .no-scroll {
    overflow: hidden;
    height: 100%;
  }

  /* .flags_icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
  } */



  .no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    cursor: default;
  }

  .scrollable {
    overflow-y: auto; /* Gör elementet scrollbart */
    --scrollbar-opacity: 0;
  }
  
  .scrollable::-webkit-scrollbar {
    /* width: 9px; Justera bredden efter behov */
    /* opacity: var(--scrollbar-opacity); */
    width: var(--scrollbar-width);
    /* transition: width 0.3s; */
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(130, 130, 130, 0.5); /* Justera färgen efter behov */
    border-radius: 6px; /* Justera radien efter behov */
  }